html,
body {
    width: 100%;
    height: 100%;
}

body {
    --primary-color-lighter: #642eff;
    --primary-color: #461BC2;
    --primary-color-dark: #1e0c537a;
    --secondary-color: #303030;
    --overlay-color: #FFF;
    --accent-color: #3bcec6;
    --accent-color-light: #45f3ea;
    --accent-color-dark: #20726e;
    --color-white: #FFF;
    --color-gray-1: #e2e2e2;
    --color-gray-2: #9b9b9b;
    --color-gray-3: #808080;
    --color-gray-4: #535353;
    --color-gray-5: #2c2c2c;
    --bg-primary: #151515;
    --bg-secondary: var(--color-gray-1);
    --bg-secondary-hover: var(--color-gray-2);
    --bg-semi-transparent: #0000007a;
    --bg-transparent: transparent;
    --font-primary: #FFF;
    --font-primary-dim: #ffffff94;
    --font-primary-inverse: #E0E0E0;
    --font-secondary: #7f7f7f;
    --font-overlay: var(--overlay-color);
    --divider-light: #3D3D3D;
    --divider-dark: #353535;
    --outline: #676767;
    --warning-color: #ffa500;
    --error-color: red;
    --black-color: #121212;
    --success-color: #31ce31;
    --success-color-dark: #159415;
    --success-color-darker: #00310070;

}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Sans-serif;

    background-color: var(--bg-primary);
    background-image: url('/static/images/site-texture.png');

    color: var(--font-primary);
}

input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    padding: 0.25em 0.6em;
    box-sizing: border-box;
    border: .75px solid #ccc;
    border-radius: 1em;
}

h1 {
    font-weight: bolder;
    font-size: 2em;
}

.flex {
    display: flex;
}

.flex.inline{
    display: inline-flex;
}

.flex.col {
    flex-direction: column;
}

.flex.col.reverse {
    flex-direction: column-reverse;
}

.flex.row {
    flex-direction: row;
}

.flex-grow {
    flex-grow: 1;
}

.flex.wrap{
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.just-center {
    justify-content: center;
}

.just-end {
    justify-content: flex-end;
}

.just-around {
    justify-content: space-around;
}

.text-warning{
    color: var(--warning-color);
}

.text-error{
    color: var(--error-color);
}

.text-success{
    color: var(--success-color);
}

.text-primary-dim{
    color: var(--font-primary-dim);
    
}

.width-100{
    width: 100%;
}

.border-box {
    box-sizing: border-box;
}

input:disabled {
    color: #ccc;
}
button.not-button{
    background: transparent;
    padding: 0px;
    border: none;
    border-radius: 0px;
}
button.not-button:hover{
    filter: brightness(100%);
}
button {
    position: relative;
    color: white;
    background-color: #461bc2;
    margin-bottom: 1rem;
    border: none;
    border-radius: 0.4em;
    width: fit-content;
    font-family: inherit;
    font-size: 1em;
    font-weight: 500;
    -webkit-padding: 0.65em 0;
    padding: 0.8em 1.6em;
    margin-top: 1rem;
    box-sizing: border-box;
    cursor: pointer;
}

button:disabled {
    color: #999;
}

button:not(:disabled):not(.not-button):hover {
    filter: brightness(130%);
}

button:not(:disabled):not(.not-button):active {
    filter: brightness(110%);
    top: 2px;
}

button:not(.not-button):focus {
    border-color: #666;
}

button.secondary{
    background: var(--color-gray-2);
}

button.success{
    color: var(--color-white);
    background: var(--success-color-dark);
}
button.warning{
    color: var(--black-color);
    background: var(--warning-color);
    font-weight: 400;
}

button.icon{
    padding: 3px;
    border-radius: 8px;
    border: 1px solid var(--accent-color-dark);
    display: flex;
    align-items: center;
    justify-content: center;
}

button.text{
    padding: 0px;
    border-radius: 0px;
    border: 0px;
    background: transparent;
}

a {
    color: var(--accent-color);
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: var(--accent-color-light);
}

a:visited {
    color: var(--accent-color);
}

.button-text {
    font-size: 0.85rem;
    letter-spacing: 0.1em;
}




.bridge-header {
    font-weight: 400;
    font-size: x-large;
    margin-top: 2rem;
}

.bridge-field {
    border: 0.1rem solid #747474;
    border-radius: 0.2rem;
    color: #e0e0e0;
    font-size: medium;
}

.field-label {
    font-size: small;
}

.arrow-container {
    margin: auto;
    padding: 1rem;
}

.error {
    color: var(--error-color);
}

.success {
    color: var(--success-color);
}

.lamden-link {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

li {
    color: var(--warning-color);
    list-style-image: url("/static/images/icons/icon_nope.svg");
    font-size: 2.2em;
    line-height: 0.6em;
    margin-left: -10px;
}

ul{
    line-height: 0.8em;
}

li.yes {
    color: var(--success-color);
    list-style-image: url("/static/images/icons/icon_check.svg");
}
li.none {
    color: var(--color-white);
    list-style-image: none;
    list-style-type: none;
}
li > *{
    font-size: 0.4em;
    position: relative;
    top: -4px;
}

li.no-bullet{
    color: var(--font-primary-color);
    list-style-image: none;
    list-style-type: none;
}
.ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


@media only screen and (min-width: 1280px) {
    body{
        font-size: 1.3em;
    }
}

@media only screen and (min-width: 2800px) {
    body{
        font-size: 3em;
    }
}
